@page
@model ProjectPro.Pages.ApplicationsModel
@{
    ViewData["Title"] = "Applications";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectPro</title>
    <link rel="stylesheet" href="~/css/Application.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<a href="@Url.Page("/Home", new { Id = Model.Id })">
    <button class="BackButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="78" height="38"
             viewBox="0 0 78 38" fill="none">
            <path d="M1.23223 17.2322C0.255922 18.2085 0.255922 19.7915 1.23223 20.7678L17.1421 36.6777C18.1184 37.654 19.7014 37.654 20.6777 36.6777C21.654 35.7014 21.654 34.1184 20.6777 33.1421L6.53553 19L20.6777 4.85786C21.654 3.88155 21.654 2.29864 20.6777 1.32233C19.7014 0.34602 18.1184 0.34602 17.1421 1.32233L1.23223 17.2322ZM3 21.5H78V16.5H3V21.5Z"
                  fill="white" />
        </svg>Back
    </button>
</a>


<p class="head">Applications</p>

<div class="applications">
    @if (Model.profiles != null)
    {
        @foreach (var profile in Model.profiles)
        {


            <div class="applications-data">
                @if (profile.Image != null && profile.Image.Length > 0)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(profile.Image)" alt="Profile Image" />
                }
                else
                {
                    <img src="~/Image/DefaultProfileImage.jpg" alt="Default profile image">
                }
                <p>@profile.Nickname</p>
                <p>@profile.Position</p>
                @foreach (var user in Model.users)
                {
                    <!-- Your Accept Button -->
                    <form method="post">
                        <input type="hidden" name="userId" value="@user.userId" />
                        <input type="hidden" name="projectNumber" value="@user.projectNumber" />
                        <button type="button" id="showConfirmation">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                <path d="M27.4998 17.0833H17.0832V27.5C17.0832 28.6458 16.1457 29.5833 14.9998 29.5833C13.854 29.5833 12.9165 28.6458 12.9165 27.5V17.0833H2.49984C1.354 17.0833 0.416504 16.1458 0.416504 15C0.416504 13.8542 1.354 12.9167 2.49984 12.9167H12.9165V2.49999C12.9165 1.35416 13.854 0.416656 14.9998 0.416656C16.1457 0.416656 17.0832 1.35416 17.0832 2.49999V12.9167H27.4998C28.6457 12.9167 29.5832 13.8542 29.5832 15C29.5832 16.1458 28.6457 17.0833 27.4998 17.0833Z" fill="#D99BFF" />
                            </svg>
                        </button>
                    </form>

                }

            </div>

        }
    }
    else
    {
        <p>Data is null</p>
    }
</div>

<div id="confirmationDialog" class="confirmation-dialog" style="display: none;">
    <div class="confirmation-content">
        <p>Are you sure you want to accept this application?</p>
        <button id="confirmAccept">Yes</button>
        <button id="cancelAccept">No</button>
    </div>
</div>


<script>
    // JavaScript to control the confirmation dialog
    const confirmationDialog = document.getElementById('confirmationDialog');
    const showConfirmationButton = document.getElementById('showConfirmation');
    const confirmAcceptButton = document.getElementById('confirmAccept');
    const cancelAcceptButton = document.getElementById('cancelAccept');
    const form = document.querySelector('form'); // Get the form element

    // Function to show the confirmation dialog
    function showConfirmationDialog() {
        confirmationDialog.style.display = 'block';
    }

    // Function to hide the confirmation dialog
    function hideConfirmationDialog() {
        confirmationDialog.style.display = 'none';
    }

    // Show confirmation dialog when the button is clicked
    showConfirmationButton.addEventListener('click', showConfirmationDialog);

    // Handle the 'Yes' button click
    confirmAcceptButton.addEventListener('click', function () {
        // Submit the form when "Yes" is clicked
        form.submit();
    });

    // Handle the 'No' button click
    cancelAcceptButton.addEventListener('click', hideConfirmationDialog);

</script>