@page
@model ProjectPro.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectPro</title>

    <link rel="stylesheet" href="~/css/Chat.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>



<body>
    <!-- let's define the box now -->

    <div class="headbar">
        @if (!string.IsNullOrEmpty(Model.Base64Image))
        {
            <img src="data:image/jpeg;base64,@Model.Base64Image" alt="User Profile Image">
        }
        else
        {
            <img src="~/Image/DefaultProfileImage.jpg" alt="Default profile image">
        }

        <!-- here the search bar would come -->
        <form method="get" action="/Search">
            <input type="number" name="projectNumber" placeholder="Search projects...">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="Container">

        <div class="sidebar">

            <div class="Icons">

                <div class="Icon">
                    <a href="@Url.Page("/Home", new { Id = Model.Id })">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                            <g clip-path="url(#clip0_2547_130)">
                                <path d="M4.64258 45.0325L29.3401 60V31.14L4.64258 16.17V45.0325ZM55.3576 45.0325V16.17L30.6601 31.14V60L55.3576 45.0325ZM54.7426 14.9975L30.0001 0L5.25758 14.9975L30.0001 29.995L54.7426 14.9975Z"
                                      fill="url(#paint0_linear_2547_130)" />
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_2547_130" x1="30.0001" y1="0" x2="30.0001" y2="60"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#00FFFF" />
                                    <stop offset="1" stop-color="#00FFFF" stop-opacity="0" />
                                </linearGradient>
                                <clipPath id="clip0_2547_130">
                                    <rect width="60" height="60" fill="white" />
                                </clipPath>
                            </defs>

                        </svg>
                    </a>
                </div>

                <div class="Icon">
                    <a href="@Url.Page("/Chat", new { Id = Model.Id })">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                            <path d="M5.00003 30C5.00003 16.1925 16.1925 5 30 5C43.8075 5 55 16.1925 55 30C55 43.8075 43.8075 55 30 55C25.8378 55.006 21.7404 53.9686 18.0825 51.9825L7.78878 54.91C6.14003 55.3788 4.61753 53.855 5.08628 52.2075L8.01378 41.91C6.03006 38.2541 4.99393 34.1594 5.00003 30ZM20 25.3125C20 26.175 20.7 26.875 21.5625 26.875H38.4375C38.6427 26.875 38.8459 26.8346 39.0355 26.7561C39.225 26.6775 39.3973 26.5624 39.5424 26.4174C39.6875 26.2723 39.8026 26.1 39.8811 25.9104C39.9596 25.7209 40 25.5177 40 25.3125C40 25.1073 39.9596 24.9041 39.8811 24.7146C39.8026 24.525 39.6875 24.3527 39.5424 24.2076C39.3973 24.0626 39.225 23.9475 39.0355 23.8689C38.8459 23.7904 38.6427 23.75 38.4375 23.75H21.5625C20.7 23.75 20 24.45 20 25.3125ZM21.5625 33.125C21.1481 33.125 20.7507 33.2896 20.4577 33.5826C20.1646 33.8757 20 34.2731 20 34.6875C20 35.1019 20.1646 35.4993 20.4577 35.7924C20.7507 36.0854 21.1481 36.25 21.5625 36.25H33.4375C33.8519 36.25 34.2494 36.0854 34.5424 35.7924C34.8354 35.4993 35 35.1019 35 34.6875C35 34.2731 34.8354 33.8757 34.5424 33.5826C34.2494 33.2896 33.8519 33.125 33.4375 33.125H21.5625Z"
                                  fill="url(#paint0_linear_2547_141)" />
                            <defs>
                                <linearGradient id="paint0_linear_2547_141" x1="30" y1="5" x2="30" y2="55"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#00FFFF" />
                                    <stop offset="1" stop-color="#00FFFF" stop-opacity="0" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </a>
                </div>

                <div class="Icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                        <path d="M33.75 7.5V24.375L39.375 18.75L45 24.375V7.5H52.5V52.5H18.75V7.5H33.75ZM7.5 7.5H15V52.5H7.5V7.5Z"
                              fill="url(#paint0_linear_2547_144)" />
                        <defs>
                            <linearGradient id="paint0_linear_2547_144" x1="30" y1="7.5" x2="30" y2="52.5"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00FFFF" />
                                <stop offset="1" stop-color="#00FFFF" stop-opacity="0" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="Icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                        <path opacity="0.5"
                              d="M17.5 45C16.837 45 16.2011 44.7366 15.7322 44.2678C15.2634 43.7989 15 43.163 15 42.5C15 41.837 15.2634 41.2011 15.7322 40.7322C16.2011 40.2634 16.837 40 17.5 40C21.65 40 24.64 34.5575 27.81 28.795C31.54 22.0125 35.3975 15 42.5 15C43.163 15 43.7989 15.2634 44.2678 15.7322C44.7366 16.2011 45 16.837 45 17.5C45 18.163 44.7366 18.7989 44.2678 19.2678C43.7989 19.7366 43.163 20 42.5 20C38.35 20 35.36 25.4425 32.19 31.205C28.46 37.9875 24.6025 45 17.5 45Z"
                              fill="url(#paint0_linear_2549_147)" />
                        <path d="M47.5 5H12.5C10.5115 5.00199 8.60498 5.7928 7.19889 7.19889C5.7928 8.60498 5.00199 10.5115 5 12.5V47.5C5.00199 49.4885 5.7928 51.395 7.19889 52.8011C8.60498 54.2072 10.5115 54.998 12.5 55H47.5C49.4885 54.998 51.395 54.2072 52.8011 52.8011C54.2072 51.395 54.998 49.4885 55 47.5V12.5C54.998 10.5115 54.2072 8.60498 52.8011 7.19889C51.395 5.7928 49.4885 5.00199 47.5 5ZM42.5 20C38.35 20 35.36 25.4425 32.19 31.205C28.46 37.9875 24.6025 45 17.5 45C16.837 45 16.2011 44.7366 15.7322 44.2678C15.2634 43.7989 15 43.163 15 42.5C15 41.837 15.2634 41.2011 15.7322 40.7322C16.2011 40.2634 16.837 40 17.5 40C21.65 40 24.64 34.5575 27.81 28.795C31.54 22.0125 35.3975 15 42.5 15C43.163 15 43.7989 15.2634 44.2678 15.7322C44.7366 16.2011 45 16.837 45 17.5C45 18.163 44.7366 18.7989 44.2678 19.2678C43.7989 19.7366 43.163 20 42.5 20Z"
                              fill="url(#paint1_linear_2549_147)" />
                        <defs>
                            <linearGradient id="paint0_linear_2549_147" x1="30" y1="15" x2="30" y2="45"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00FFFF" />
                                <stop offset="1" stop-color="#00FFFF" stop-opacity="0" />
                            </linearGradient>
                            <linearGradient id="paint1_linear_2549_147" x1="30" y1="5" x2="30" y2="55"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00FFFF" />
                                <stop offset="1" stop-color="#00FFFF" stop-opacity="0" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                @*<div class="SettingIcon">
                @if (@Model.idExistsInProfile)
                {
                <a id="profileLink" href="@Url.Page("/UpdateProfile", new { Id = Model.Id })">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                viewBox="0 0 60 60" fill="none">
                <g clip-path="url(#clip0_2549_151)">
                <path d="M33.2339 5.47543e-06C34.1159 5.47543e-06 34.9049 0.549005 35.2019 1.37101L37.3199 7.24201C38.0789 7.43101 38.7299 7.62001 39.2819 7.81801C39.8849 8.03401 40.6619 8.36101 41.6219 8.80801L46.5539 6.19801C46.9565 5.98473 47.4173 5.90774 47.8674 5.9786C48.3174 6.04946 48.7323 6.26434 49.0499 6.59101L53.3879 11.076C53.9639 11.673 54.1259 12.546 53.8019 13.308L51.4889 18.729C51.8729 19.434 52.1789 20.037 52.4129 20.541C52.6649 21.09 52.9769 21.846 53.3489 22.821L58.7399 25.131C59.5499 25.476 60.0509 26.286 59.9969 27.153L59.6009 33.378C59.5738 33.7824 59.4286 34.17 59.1833 34.4926C58.938 34.8153 58.6033 35.0588 58.2209 35.193L53.1149 37.008C52.9679 37.713 52.8149 38.316 52.6529 38.826C52.3916 39.6136 52.0933 40.3885 51.7589 41.148L54.3239 46.818C54.5049 47.2164 54.5537 47.6623 54.463 48.0904C54.3723 48.5184 54.1469 48.9063 53.8199 49.197L48.9419 53.553C48.6206 53.8387 48.2198 54.0193 47.793 54.0708C47.3662 54.1223 46.9338 54.0421 46.5539 53.841L41.5259 51.177C40.7392 51.5935 39.9277 51.9612 39.0959 52.278L36.8999 53.1L34.9499 58.5C34.8054 58.8955 34.5447 59.238 34.2021 59.4827C33.8594 59.7273 33.4508 59.8627 33.0299 59.871L27.3299 60C26.8978 60.0113 26.4728 59.8885 26.1133 59.6483C25.7539 59.4082 25.4778 59.0626 25.3229 58.659L23.0249 52.578C22.2408 52.31 21.4645 52.0199 20.6969 51.708C20.069 51.4363 19.4507 51.1431 18.8429 50.829L13.1429 53.265C12.7673 53.4252 12.3532 53.4728 11.9511 53.402C11.549 53.3312 11.1761 53.1449 10.8779 52.866L6.65988 48.909C6.34584 48.6157 6.13198 48.231 6.04853 47.8095C5.96508 47.388 6.01628 46.9509 6.19488 46.56L8.64588 41.22C8.31991 40.5875 8.0177 39.9431 7.73988 39.288C7.41559 38.4862 7.11545 37.6748 6.83988 36.855L1.46988 35.22C1.03338 35.0881 0.652665 34.8157 0.386851 34.4452C0.121037 34.0747 -0.0149946 33.6268 -0.000118296 33.171L0.209882 27.408C0.224829 27.032 0.342292 26.6672 0.549566 26.3531C0.756839 26.0391 1.04604 25.7876 1.38588 25.626L7.01988 22.92C7.28088 21.963 7.50888 21.219 7.70988 20.676C7.9929 19.9507 8.3072 19.2381 8.65188 18.54L6.20988 13.38C6.02456 12.9882 5.96828 12.5476 6.04914 12.1218C6.13 11.6959 6.34383 11.3067 6.65988 11.01L10.8719 7.03201C11.1671 6.75352 11.5366 6.56629 11.9358 6.49285C12.3349 6.4194 12.7468 6.46286 13.1219 6.61801L18.8159 8.97001C19.4459 8.55001 20.0159 8.21101 20.5319 7.93801C21.1469 7.61101 21.9689 7.26901 23.0039 6.90001L24.9839 1.37701C25.1303 0.972811 25.3978 0.623649 25.7501 0.377199C26.1023 0.130748 26.522 -0.000978752 26.9519 5.47543e-06H33.2339ZM30.0719 21.057C25.0709 21.057 21.0179 25.062 21.0179 30.006C21.0179 34.95 25.0709 38.958 30.0719 38.958C35.0699 38.958 39.1229 34.95 39.1229 30.006C39.1229 25.062 35.0729 21.057 30.0719 21.057Z"
                fill="#D99BFF" />
                </g>
                <defs>
                <clipPath id="clip0_2549_151">
                <rect width="60" height="60" fill="white" />
                </clipPath>
                </defs>
                </svg>
                </a>
                }
                else
                {
                <a id="profileLink" href="@Url.Page("/CreateProfile", new { Id = Model.Id })">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                viewBox="0 0 60 60" fill="none">
                <g clip-path="url(#clip0_2549_151)">
                <path d="M33.2339 5.47543e-06C34.1159 5.47543e-06 34.9049 0.549005 35.2019 1.37101L37.3199 7.24201C38.0789 7.43101 38.7299 7.62001 39.2819 7.81801C39.8849 8.03401 40.6619 8.36101 41.6219 8.80801L46.5539 6.19801C46.9565 5.98473 47.4173 5.90774 47.8674 5.9786C48.3174 6.04946 48.7323 6.26434 49.0499 6.59101L53.3879 11.076C53.9639 11.673 54.1259 12.546 53.8019 13.308L51.4889 18.729C51.8729 19.434 52.1789 20.037 52.4129 20.541C52.6649 21.09 52.9769 21.846 53.3489 22.821L58.7399 25.131C59.5499 25.476 60.0509 26.286 59.9969 27.153L59.6009 33.378C59.5738 33.7824 59.4286 34.17 59.1833 34.4926C58.938 34.8153 58.6033 35.0588 58.2209 35.193L53.1149 37.008C52.9679 37.713 52.8149 38.316 52.6529 38.826C52.3916 39.6136 52.0933 40.3885 51.7589 41.148L54.3239 46.818C54.5049 47.2164 54.5537 47.6623 54.463 48.0904C54.3723 48.5184 54.1469 48.9063 53.8199 49.197L48.9419 53.553C48.6206 53.8387 48.2198 54.0193 47.793 54.0708C47.3662 54.1223 46.9338 54.0421 46.5539 53.841L41.5259 51.177C40.7392 51.5935 39.9277 51.9612 39.0959 52.278L36.8999 53.1L34.9499 58.5C34.8054 58.8955 34.5447 59.238 34.2021 59.4827C33.8594 59.7273 33.4508 59.8627 33.0299 59.871L27.3299 60C26.8978 60.0113 26.4728 59.8885 26.1133 59.6483C25.7539 59.4082 25.4778 59.0626 25.3229 58.659L23.0249 52.578C22.2408 52.31 21.4645 52.0199 20.6969 51.708C20.069 51.4363 19.4507 51.1431 18.8429 50.829L13.1429 53.265C12.7673 53.4252 12.3532 53.4728 11.9511 53.402C11.549 53.3312 11.1761 53.1449 10.8779 52.866L6.65988 48.909C6.34584 48.6157 6.13198 48.231 6.04853 47.8095C5.96508 47.388 6.01628 46.9509 6.19488 46.56L8.64588 41.22C8.31991 40.5875 8.0177 39.9431 7.73988 39.288C7.41559 38.4862 7.11545 37.6748 6.83988 36.855L1.46988 35.22C1.03338 35.0881 0.652665 34.8157 0.386851 34.4452C0.121037 34.0747 -0.0149946 33.6268 -0.000118296 33.171L0.209882 27.408C0.224829 27.032 0.342292 26.6672 0.549566 26.3531C0.756839 26.0391 1.04604 25.7876 1.38588 25.626L7.01988 22.92C7.28088 21.963 7.50888 21.219 7.70988 20.676C7.9929 19.9507 8.3072 19.2381 8.65188 18.54L6.20988 13.38C6.02456 12.9882 5.96828 12.5476 6.04914 12.1218C6.13 11.6959 6.34383 11.3067 6.65988 11.01L10.8719 7.03201C11.1671 6.75352 11.5366 6.56629 11.9358 6.49285C12.3349 6.4194 12.7468 6.46286 13.1219 6.61801L18.8159 8.97001C19.4459 8.55001 20.0159 8.21101 20.5319 7.93801C21.1469 7.61101 21.9689 7.26901 23.0039 6.90001L24.9839 1.37701C25.1303 0.972811 25.3978 0.623649 25.7501 0.377199C26.1023 0.130748 26.522 -0.000978752 26.9519 5.47543e-06H33.2339ZM30.0719 21.057C25.0709 21.057 21.0179 25.062 21.0179 30.006C21.0179 34.95 25.0709 38.958 30.0719 38.958C35.0699 38.958 39.1229 34.95 39.1229 30.006C39.1229 25.062 35.0729 21.057 30.0719 21.057Z"
                fill="#D99BFF" />
                </g>
                <defs>
                <clipPath id="clip0_2549_151">
                <rect width="60" height="60" fill="white" />
                </clipPath>
                </defs>
                </svg>
                </a>
                }
                </div>*@

            </div>
        </div>

        <div class="ProjectSection">
            <div class="Projects-Data">

                @if (Model.UserProjects.Count > 0)
                {
                    @foreach (var projectData in Model.UserProjects)
                    {
                        <button type="submit" class="project-button" data-project-id="@projectData.ProjectId" data-id="@Model.Id" data-number="@projectData.ProjectNumber">
                            @projectData.Name
                        </button>


                    }
                }
                else
                {
                    <p>No projects</p>
                }

            </div>

            <div class="ChatSection">
                <div class="Chats"></div>
                <div class="Message">
                    <input id="messageInput" type="text" placeholder="Type" />
                    <button id="sendButton">Message</button>
                </div>
            </div>
        </div>

    </div>
</body>

<script>
    $(document).ready(function () {
        // Add a click event listener to all elements with the class "Icon"
        $(".Icon").click(function () {
            // Remove the active class and styles from all icons
            $(".Icon").removeClass("active").css({
                filter: "none",
                transform: "scale(1)"
            });

            // Add the active class and styles to the clicked icon
            $(this).addClass("active").css({
                filter: "drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5))",
                transform: "scale(1.5)"
            });
        });



        // Create a WebSocket connection for the entire chat section
        // Create a WebSocket connection for the entire chat section
        const socket = new WebSocket("ws://localhost:3000");

        // Function to append a message to the chat
        function appendMessage(messageText) {
            const chatDiv = document.querySelector(".Chats");
            const messageDiv = document.createElement("div");
            messageDiv.classList.add('message-data-my');
            messageDiv.textContent = messageText;

            chatDiv.appendChild(messageDiv);
        }

        // Handle incoming WebSocket messages
        socket.addEventListener("message", (event) => {
            // Parse the incoming JSON message
            try {
                const data = JSON.parse(event.data);

                // Check if the data object has the 'messageText' field
                if (data.messageText) {
                    // Call the appendMessage function with the 'messageText'
                    appendMessage(data.messageText);
                } else {
                    console.error('Received message does not contain messageText:', data);
                }
            } catch (error) {
                console.error('Error parsing incoming message:', error);
            }
        });

        
        // Handle button click events
        document.querySelectorAll(".project-button").forEach((button) => {
            button.addEventListener("click", () => {
                // Retrieve projectId and id from the clicked button's data attributes
                const projectId = button.getAttribute("data-project-id");
                const id = button.getAttribute("data-id");
               
                const number = button.getAttribute("data-number");

                const data = {
                    projectId: projectId,
                    number: number,
                };

                // Perform a POST request using jQuery AJAX
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/getMessages", // Replace with your actual backend endpoint
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (responseData) {
                        console.log("Received data from the server:", responseData);

                        // Assuming responseData.data is an array of message objects with 'userid' and 'messagetext' properties
                        const chatDiv = document.querySelector(".Chats");

                        // Clear old chat messages
                        chatDiv.innerHTML = '';

                        responseData.data.forEach((message) => {
                            const messageDiv = document.createElement("div");
                            messageDiv.textContent = `${message.messagetext}`;
                            //messageDiv.textContent = `${message.userid}`;
                            const messageId = message.userid
                            if (messageId == id) {
                                messageDiv.classList.add('message-data-my');
                            }
                            messageDiv.classList.add('message-data');
                            chatDiv.appendChild(messageDiv);
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // Handle errors here
                        console.error("AJAX error:", errorThrown);
                    },
                });


                // Send a message when the "Send" button is clicked
                document.getElementById("sendButton").addEventListener("click", () => {
                    const messageInput = document.getElementById("messageInput");
                    const message = messageInput.value;

                    if (message.trim() !== "") {
                        // Construct a JSON object containing the data
                        const data = {
                            number: number,
                            projectId: projectId,
                            id: id,
                            messageText: message
                        };

                        // Send the JSON object as a string to the server
                        socket.send(JSON.stringify(data));

                        // Clear the input field
                        messageInput.value = "";
                    }
                });


            });
        });

        // Function to append a message to the chat
        

        // Handle WebSocket connection open event
        socket.addEventListener("open", (event) => {

        });

        // Handle WebSocket connection close event
        socket.addEventListener("close", (event) => {
            appendMessage("Connection closed.");
        });

        // Handle WebSocket connection error event
        socket.addEventListener("error", (event) => {
            appendMessage("WebSocket error occurred.");
        });


    });



</script>


