@page
@model Enhance.Pages.ApplicantModel
@{
    ViewData["Title"] = "Applications page";
}

<head>

    
    <link rel="stylesheet" href="~/css/AllProject.css?version=1" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Groups.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h3>Applications</h3>




<div class="main" style="padding-top: 100px;">

    <div class="project">

        <div class="head">
        <div class="postDate">
            <h4>Image</h4>
        </div>
        <div class="price">
            <h4 style="margin-left: -25px;">Nickname</h4>
        </div>
        <div class="seeProject">
            <h4>Finished</h4>
        </div>
        <div class="seeBids">
            <h4>Approved</h4>
        </div>
        <div class="Apply">
            <h4>Accept</h4>
        </div>
        <div class="Apply">
            <h4>Reject</h4>
        </div>
        </div>
    </div>

    @if (ViewData["UserApplications"] is List<UserApplicationData> userApplications && userApplications.Count > 0)
    {
        foreach (var userApplication in userApplications)
        {
            <div class="project">
                <div class="postDate">
                    <a style="width" href="/Profile?Id=@userApplication.Id"><img src="data:image/png;base64,@Convert.ToBase64String(userApplication.Image)" alt="User Image" /></a>
                </div>
                <div class="price">
                    <p>@userApplication.Nickname</p>
                </div>
                <div class="seeProject">
                    <p>@userApplication.Finished</p>
                </div>
                <div class="seeBids">
                    <p>@userApplication.Approved</p>
                </div>

                <div class="Apply">
                    <form method="post" asp-page-handler="Accept">
                        <input type="hidden" name="groupId" value="@LoginModel.UserId"/>
                        <input type="hidden" name="applicantId" value="@userApplication.Id" />
                        <button type="submit" @(Model.MemberCount == 5 ? "disabled" : "")>Accept</button>
                    </form>
                </div>

                <div class="Apply">
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="applicantId" value="@userApplication.Id" />
                        <button type="submit">Reject</button>
                    </form>
                </div>

            </div>
        }
    }
    else
    {
        <p>No user applications found.</p>
    }

</div>
