@page
@model Enhance.Pages.MygroupModel
@{
    ViewData["Title"] = "My group page";
}

<head>

    <link rel="stylesheet" href="~/css/MYgroup.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<h2>Members of you're group</h2>

<!-- this here we will show all those people who are the part of the group created by us -->
<div class="user-data-col">
    <div class="user-data1">




        <h6>Image</h6>
        <h6>Nickname</h6>
        <h6>Country</h6>
        <h6>Dob</h6>
        <h6>Approved</h6>
        <h6>Finished</h6>
        <h6>Remove User</h6>
    </div>
    @foreach (var userApplication in Model.UserApplications)
    {

        <div class="user-data">



            @if (userApplication.Image != null)
            {
                <a href="/Profile?Id=@userApplication.Id"><img src="data:image/png;base64,@Convert.ToBase64String(userApplication.Image)" alt="User Image" /></a>
            }
            else
            {
                <img src="~/Images/use.jpg" alt="User Image" />
            }
            <h4>@userApplication.Nickname</h4>
            <p>@userApplication.Country</p>
            <h5>@userApplication.Dob</h5>
            <p>@userApplication.Approved</p>
            <p>@userApplication.Finished</p>
            <form method="post">
                <input type="hidden" name="Id" value="@userApplication.Id" />
                <button type="submit">Delete</button>
            </form>
        </div>

    }
</div>

<!-- here will you show if the users exist in the group from the beginning -->
<div class="GoPage @if(!GroupsModel.Exist){<text>hide</text>}">
    <p>You are already in a group </p>
    <a href="/EnrolledGroup"><button>See group</button></a>
</div>