@page
@model Enhance.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile page";
}


<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/Show.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>



<div class="image_data">
    <div>
        @if (@Model.ImageData != null)
        {
            <img src="data:image/png;base64,@Convert.ToBase64String(@Model.ImageData)" alt="User Image" />
        }
        else
        {
            <img src="~/Images/default.jpg" alt="Default Image" />
        }
    </div>



   <!-- data cards for to show how many projects you have done -->
   <div class="projects">
       <p class="heading">
           Projects
       </p>
       <div class="projects-data">

       <div class="finished">
           <div class="finished-data">
               <p class="heading"><span>p</span>rojects Completed </p>
             
             
               <p class="number">@Model.Finished</p>
           </div>
       </div>
       <div class="approved">
           <div class="approved-data">
               <p class="heading"><span>p</span>rojects Approved </p>
             
               <p class="number">@Model.Approved</p>
           </div>
       </div>
       </div>
   </div>

</div>

<!--  personal data to show -->
<div class="personal">
    <div class="head">
        <p>@Model.Nickname</p>
    </div>
    <div class="row-data">
        <div class="row">
            <img src="/Images/GlobeIcon.svg" alt="Globe icon"/> <p>@Model.Email</p>
            
        </div>
        <div class="row">
            <img src="/Images/EmailIcon.svg" alt="Email icon"/> <p>@Model.Country</p>
            
        </div>
    </div>
</div>


<div class="container box" style=" padding-top: 50px;">
    @for (int i = 0; i < Model.Skills.Count; i++)
    {
        var skill = Model.Skills[i];
        if (i % 3 == 0)
        {
            if (i > 0)
            {
                @:</div> 
            }
            @:<div class="row"> 
        }
        <div class="col-md-4 w3-center">
            <a href="/Skill?skillName=@skill.SkillName">
            <button style="width: 200px;" class="btn btn-dark">@skill.SkillName</button>
            </a>
        </div>
    }
    <text>
        </div>
 


