@page
@model Enhance.Pages.ShowDataModel

@{
    ViewData["Title"] = "Show data";
}

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/Show.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="image_data">
    <div>
        @if (@Model.ImageData != null)
        {
            <img src="data:image/png;base64,@Convert.ToBase64String(@Model.ImageData)" alt="User Image" />
        }
        else
        {
            <img src="~/Images/default.jpg" alt="Default Image" />
        }
    </div>



    <div class="col">
        <div class="row">
            <div><h3>Nickname</h3><p>@Model.Nickname</p></div>
            <div><h3>Date of birth</h3><p>@Model.Dob</p></div>
        </div>
        <div class="row">
            <div><h3>Contact</h3><p>@Model.Contact</p></div>
            <div><h3>Country</h3><p>@Model.Country</p></div>
        </div>
    </div>

</div>



<div class="container box" style=" padding-top: 50px;">
    @for (int i = 0; i < Model.Skills.Count; i++)
    {
        var skill = Model.Skills[i];
        if (i % 3 == 0)
        {
            if (i > 0)
            {
                @:</div> 
            }
            @:<div class="row"> 
        }
        <div class="col-md-4 w3-center">
            <a href="/Skill?skillName=@skill.SkillName">
            <button style="width: 200px;" class="btn btn-dark">@skill.SkillName</button>
            </a>
        </div>
    }
    <text>
        </div>
 


<div class="w3-center addSkill">
    <a href="/UserDataSkills"><button>Add Skill</button></a>
</div>